<ion-tabs>

  <ion-tab-bar slot="bottom"  [ngClass]="{'hiddenTab': hideTab}">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-courses">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label>My Courses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tabs">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Assessment</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
