.primary-header-blocks{
    --min-height: 70px;
    .score-block{
        width: 33.33%;
        height: 70px;
        text-align: center;
        margin: 0;
        float: left;
        --background: var(--color-2);
        h2{
            margin-top: 10px;
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: 600;
        }
        p{  
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 14px;
            color: var(--color-2);
        }
    }
}
.message-section{
    text-align: center;
    h2{
        font-weight: 600;
        font-size: 20px;
    }
    p{
        margin-top: 14px;
    }
}
.score-preview{
    text-align: center;
    padding-top: 15px;
    .circle-block{
        width: 25%;
        float: left;
        margin-bottom: 20px;
        h2{
            width: 35px;
            height: 35px;
            background-color: var(--color-3);
            border-radius: 50%;
            color: var(--color-5);
            margin: 0 auto;
            font-size: 20px;
            line-height: 35px;
            &.correct{
                background-color: var(--ion-color-success);
            }
            &.incorrect{
                background-color: var(--ion-color-danger);
            }
        }
    }
}
.primary-footer-legends{
    --min-height: 36px;
    .score-block{
        display: inline-block;
        width: 33.33%;
        height: 36px;
        ion-icon{
            float: left;
            margin-left: 10px;
            margin-right: 5px;
            margin-top: 2px;
            font-size: 22px;
        }
        h2{
            margin-top: 5px;
            font-size: 14px;
            color: var(--color-1);
            text-transform: uppercase;
        }
        &:nth-of-type(1){
            ion-icon{
            color: var(--ion-color-success);
            }
        }
        &:nth-of-type(2){
            ion-icon{
            color: var(--ion-color-danger);
            }
        }
        &:nth-of-type(3){
            ion-icon{
            color: var(--color-3);
            }
        }

    }
}