<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
     CISSP Simulation Test 4
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="primary-header-blocks">
    <div class="score-block">
      <p>Questions</p>
      <h2>150</h2>
    </div>
    <div class="score-block">
      <p>Correct</p>
      <h2>96</h2>
    </div>
    <div class="score-block">
      <p>Scored</p>
      <h2>64%</h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="message-section">
    <h2>Congratulations!</h2>
    <p>You have scored 64.0% out of 150 questions.</p>
  </div>
  <div class="score-preview">
    <div class="circle-block" *ngFor="let summary of summaryData" >
      <h2 [ngClass]="{'correct': summary.status == 'correct', 'incorrect': summary.status == 'incorrect'}">{{summary.question}}</h2>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="primary-footer-legends">
    <div class="score-block">
      <ion-icon name="ellipse"></ion-icon>
      <h2>Correct</h2>
    </div>
    <div class="score-block">
      <ion-icon name="ellipse"></ion-icon>
      <h2>Incorrect</h2>
    </div>
    <div class="score-block">
      <ion-icon name="ellipse"></ion-icon>
      <h2>Skipped</h2>
    </div>
  </ion-toolbar>
</ion-footer>
