<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Certificate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<div class="certificate-section">
  <h2 class="certificate-title">Your Certificate is unlocked</h2>
  <img src="https://via.placeholder.com/150" alt="" class="certificate-image" />
  <ion-button expand="block" class="certificate-addTo"><ion-icon name="logo-linkedin"></ion-icon>Add to Linkedin</ion-button>
  <ion-input class="certificate-name" placeholder="Enter Input" value="Unknown Name"></ion-input>
  <ion-button expand="block" class="certificate-download">Download</ion-button>
  <ion-button fill="outline" expand="full" class="get-certificate"><ion-icon name="cloud-download-outline"></ion-icon>Get My CPE Certificate</ion-button>
</div>

</ion-content>
