.certificate-section{
    .certificate-title{
        font-size: 16px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .certificate-image{
        padding: 0px 60px;
        margin:15px 0;
        width: 100%;
        max-width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }
    .certificate-addTo{
        margin: 0;
        --border-radius: 0;
        --background:var(--color-8);
        ion-icon{
            margin-right: 10px;
        }
    }
    .certificate-name{
        margin: 20px 0;
        border:1px solid var(--color-3);
    }
    .get-certificate{
        margin: 20px 0;
        --border-color: var(--color-4);
        font-weight: 600;
        height: 60px;
        ion-icon{
            margin-right: 10px;
            font-size: 30px;
        }
    }
}