<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list class="resources-list">
  <ion-list-header>
    <ion-label>
      <h2>Course Downloads</h2>
      <p>Tap to download course material</p>
    </ion-label>
  </ion-list-header>
  <ion-item class="ion-activatable" lines="full">
    <ion-icon slot="start" name="folder-open-outline"></ion-icon>
    <ion-label>
      <h2>E-books</h2>
      <p>ZIP - 19.62MB</p>
    </ion-label>
    <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
  <ion-item class="ion-activatable" lines="full">
    <ion-icon slot="start" name="folder-open-outline"></ion-icon>
    <ion-label>
      <h2>Glossary</h2>
      <p>ZIP - 489KB</p>
    </ion-label>
    <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
</ion-list>
</ion-content>
