.resources-list{
    ion-list-header{
        h2{
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p{
            font-size: 16px;
            margin-bottom: 15px;
            letter-spacing: 1px;
        }
    }

}