.slides-container{
    position: relative;
    padding: 10px 15px 10px 15px;
    ion-slides{
        margin-top: 5px;
        ion-slide {
            width: 100%!important;
            height: 100%;
            display: block;
            ion-label{
                line-height: 25px;
            }
            ion-radio{
                margin-right: 15px;
            }
        }
    }
    .swiper-pagination-header{
        font-size: 18px;
    }
    .swiper-button-prev1{
        color: var(--color-2);
        --border-color:var(--color-2);
        font-weight: 600;
        z-index: 111;
        --padding-start: 20px;
        --padding-end: 20px;
        margin-left: 0;
    }
    .swiper-button-next1{
        color: var(--color-2);
        --border-color:var(--color-2);
        font-weight: 600;
        z-index: 111;
        --padding-start: 20px;
        --padding-end: 20px;
        margin-right: 0;

    }
}
.primary-footer-buttons{
    --min-height: 40px;
    ion-button{
        height: 40px;
        margin-bottom: 3px;
    }
}
.secondary-footer-buttons{
    --min-height: 40px;
    ion-button{
        width: 50%;
        height: 40px;
        margin: 0;
        --background: var(--color-2);
        &:nth-of-type(1){
            margin-right: 1px;
        }
        &:nth-of-type(2){
            margin-left: 1px;
        }
    }
}