<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="pauseQuiz()">
      <ion-button  slot="icon-only">
      <ion-icon name="pause-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      12:00:00
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  slot="icon-only">
      <ion-icon name="stop"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides-container">
    <ion-toolbar>
      <ion-buttons slot="start" mode="md">
        <ion-button fill="outline" shape="round" class="swiper-button-prev1" (click)="prevSlide()">Prev</ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center swiper-pagination-header">
      </ion-title>
      <ion-buttons slot="end" mode="md">
        <ion-button fill="outline" shape="round" class="swiper-button-next1" (click)="nextSlide()">Skip</ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-slides #slides pager="true" [options]="slideOpts">
      <ion-slide  *ngFor="let quiz of quizData" >
        <ion-radio-group value="biff" mode="md">
          <ion-list-header class="ion-text-left ion-no-padding">
            <ion-label>{{quiz.question}}</ion-label>
          </ion-list-header>
          <ion-item class="ion-no-padding" lines="none" *ngFor="let answers of quiz.answers" >
            <ion-label>{{answers.answer}}</ion-label>
            <ion-radio slot="start" [value]="answers.answer"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer class="ion-no-border" mode="md">
  <ion-toolbar class="primary-footer-buttons">
      <ion-button expand="full" (click)="finalSummary()" mode="md">
        Submit And Proceed
      </ion-button>
  </ion-toolbar>
  <ion-toolbar class="secondary-footer-buttons">
      <ion-button  expand="full" slot="start" mode="md">
        Skipped
      </ion-button>
      <ion-button expand="full" slot="end" mode="md">
        Answered
      </ion-button>
  </ion-toolbar>
</ion-footer>
