.myCourse-search{
    --background: var(--color-4);
    padding-top: 10px;
    --padding-start:0;
    --padding-end:0;
    ion-searchbar {
        --background: var(--color-5);
        --border-radius: 50px;
    }
}

.myCourses-outer-section{
    --background: var(--color-4);
    .myCourses-inner-section{
        --background: var(--color-5);
        padding: 0;
        margin-bottom: 10px;
        box-shadow: 0 .175em .5em var(--color-4),0 .085em .175em var(--color-4);
        .myCourses-item{
            border: 1.2px solid var(--color-4);
            --padding-start: 12px;
            padding-right: 0;
            margin-right: 0;
            border-radius: 5px;

        .myCourses-image{
            width: 70px;
            height: 70px;
            margin-top: 12px;
            margin-right: 12px;
            align-self: normal;
            img{
                border-radius: 5px;
    
            }
        }
    
        .myCourses-label{
          
            h3{
                color:var(--color-1);
                font-size: 12px;
                text-transform: capitalize;
                margin-bottom: 5px;
            }
            h2{
                color:var(--color-2);
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 8px;

            }
            ion-chip{
                margin-left: 0;
                margin-bottom: 0;
                padding: 0px 10px;
                height: 25px;
                color: var(--color-1);

            }
            .myCourses-progress-status{
                margin-top: 10px;
                .myCourses-progress-status-text{

                    margin-top: 10px;
                    .myCourses-scoreText{
                        float: left;
                        text-decoration: unset;
                        color: var(--color-2);
                        text-transform: capitalize;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .myCourses-percentage{
                        float: right;
                        margin-left: 8px;
                        color:var(--color-1);
                        font-size: 14px;
    
                    }
                }
            }
    
        }

    }
    .view-certificate{
        ion-button{
            text-transform: capitalize;
            font-weight: 700;
            letter-spacing: 0;
        }
    }

    }
}