<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      My Courses
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="myCourse-search">
    <ion-searchbar  placeholder="Search your course here..." mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="myCourses-outer-section">
  <ion-list class="myCourses-inner-section"  *ngFor="let myCourse of myCoursesData">
    <ion-item class="myCourses-item" lines="none">
      <ion-avatar slot="start" class="myCourses-image">
        <img [src]="myCourse.imageUrl">
      </ion-avatar>
      <ion-label class="myCourses-label">
        <h2 class="ion-text-wrap">{{myCourse.title}}</h2>
        <h3>{{myCourse.access}}</h3>
        <ion-chip outline color="dark">
          <ion-label>Live Classes</ion-label>
        </ion-chip>
        <ion-chip outline color="dark">
          <ion-label>Self Learning</ion-label>
        </ion-chip>
        <div class="myCourses-progress-status">
          <ion-progress-bar value="1" color="success"></ion-progress-bar>
          <div class="myCourses-progress-status-text">
           <span class="myCourses-scoreText">{{myCourse.scoreText}}</span>  <span class="myCourses-percentage">{{myCourse.percentage}} Completed</span>
          </div>
        </div>
      </ion-label>
    </ion-item>
    <div class="view-certificate">
      <ion-button expand="full"  fill="outline" fill="clear">View Certificate</ion-button>
    </div>
  </ion-list>

</ion-content>
