.video-container{
    --min-height:200px;
    --padding-left:0;
    --padding-right:0;
    --padding-top:0;
    --padding-bottom:0;
    --padding-inline-start:0;
    --padding-inline-end:0;
    video{
        width: 100%;
        max-width: 100%;
        height: 211px;
    }
}
.learning-list{
    margin-top: 0;
    padding-top: 0;
    ion-item{
        height: 60px;
        --min-height: 60px;
        overflow: hidden;
        --padding-start:40px;
        ion-label{
            margin: 0 10px;
            overflow: initial;
            padding-top: 0px;
            h2{
                text-transform: capitalize;
                // margin-top: -10px;
            }
        }

    .learning-list-style{
        .learning-indicator{
            width: 15px;
            height: 15px;
            background-color: var(--color-6);
            border-radius: 50%;
            position: relative;
            top: -10px;
            z-index: 111;
            ion-icon{
                font-size: 11px;
                position: absolute;
                top: 2px;
                color: var(--color-5);
                left:2px;
            }
        }
        &:before{
            content:'';
            position: absolute;
            width: 2px;
            height: 10px;
            left: 7px;
            top:0;
            background-color: var(--color-3);
        }
        &:after{
            content:'';
            position: absolute;
            width: 2px;
            height: 60px;
            left: 7px;
            top:0;
            background-color: var(--color-3);
        }
    }

    }
}