<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      E - Learning
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="video-container" mode="md">
    <video #video [src]="videoSrc" preload="metadata" controls></video>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- List of Text Items -->
<ion-list class="learning-list" lines="none">
  <ion-item class="ion-activatable" *ngFor="let learning of learningData" (click)="playVideo(learning.videoUrl,video)">
    <!-- <ion-avatar slot="start">
      <img src="./avatar-finn.png">
    </ion-avatar> -->
    <div class="learning-list-style">
      <div class="learning-indicator">
          <ion-icon name="checkmark-outline"></ion-icon>
      </div>
    </div>
    <ion-label>
      <h2>{{learning.chapterNo}} {{learning.title}}</h2>
      <p>{{learning.duration}} minutes</p>
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
</ion-list>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
