<ion-tabs>

  <ion-tab-bar slot="bottom"  [ngClass]="{'hiddenTab': hideTab}">
    <ion-tab-button tab="tab1"  (click)="clickTab($event, 'tab1')" >
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>E - Learning</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  (click)="clickTab($event, 'tab2')" >
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Live Class</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  (click)="clickTab($event, 'tab3')" >
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Assessment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4"  (click)="clickTab($event, 'tab4')" >
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
