<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
      Live Class
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment (ionChange)="segmentChanged($event)" value="live class" [(ngModel)]="segmentModel" >
      <ion-segment-button value="live class">
        <ion-label>Live Class</ion-label>
      </ion-segment-button>
      <ion-segment-button value="project mentoring">
        <ion-label>Project Mentoring</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="live-class-section">

  <div *ngIf="segmentModel === 'live class'">
  <div class="outer-header">
  <p>Each class covers entire content of the course divided in its multiple sessions.</p>
  <h2>Registered Classes</h2>
  </div>
  <ion-card>
    <ion-card-header class="inner-header">
        <div class="live-class-date"><ion-icon name="calendar-outline"></ion-icon> OCT 21 - NOV 01</div>
        <div class="live-class-time">
          <div class="left-side">
          <ion-icon name="time-outline"></ion-icon> 09:30 - 12:30 (CDT)
          </div>
          <div class="right-side">
            Weekdays
          </div>
        </div>
    </ion-card-header>
  
    <ion-card-content>
      <div class="content-title">10 Sessions you can access</div>
      <div class="slides-container">
      <ion-slides #slides pager="true" [options]="slideOpts">
        <ion-slide>
          <p class="top">OCT</p>
          <h2>21</h2>
          <p class="bottom">MON</p>
        </ion-slide>
        <ion-slide>
          <p class="top">OCT</p>
          <h2>21</h2>
          <p class="bottom">MON</p>
        </ion-slide>
        <ion-slide>
          <p class="top">OCT</p>
          <h2>21</h2>
          <p class="bottom">MON</p>
        </ion-slide>
        <ion-slide>
          <p class="top">OCT</p>
          <h2>21</h2>
          <p class="bottom">MON</p>
        </ion-slide>
        <ion-slide>
          <p class="top">OCT</p>
          <h2>21</h2>
          <p class="bottom">MON</p>
        </ion-slide>
      </ion-slides>
      <ion-button fill="clear" class="swiper-button-prev1" (click)="prevSlide()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
      <ion-button fill="clear" class="swiper-button-next1" (click)="nextSlide()"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
      </div>
    </ion-card-content>
    
  <ion-button expand="full">Expired</ion-button>
  </ion-card>
  <div class="view-more">
    <ion-button expand="full" fill="clear">View More</ion-button>

  </div>
  </div>
  <div *ngIf="segmentModel === 'project mentoring'">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Segment Content</ion-card-subtitle>
      <ion-card-title>All</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  </div>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
