ion-segment{
    width: 100%;
    ion-segment-button{
        width: 50%;
        ion-label{
        text-transform: capitalize;
        }
    }
}
.live-class-section{
    --background: var(--color-4);
    .outer-header{
        text-align: center;
        padding: 10px;
        h2{
            font-size: 20px;
            font-weight: 600;
        }
        p{
            font-size: 14px;
            color:var(--color-1);
        }
    }

    ion-card{
        .inner-header{
            border-bottom: 1px solid  var(--color-4);
            .live-class-date{
                font-size: 14px;
                display: flex;
                margin-bottom: 10px;
                font-weight: 400;
                color:var(--color-2);
                ion-icon{
                    font-size: 17px;
                    margin-right: 10px;
                }
            }
            .live-class-time{
                display: inline-block;
                width: 100%;
                .left-side{
                    display: flex;
                    font-size: 14px;
                    font-weight: 400;
                    float: left;
                    color:var(--color-2);
                    ion-icon{
                        font-size: 18px;
                        margin-right: 10px;
                    }
                }
                .right-side{
                    color:var(--color-2);
                    float: right;
                }
            }
        }
        ion-card-content{
            padding: 10px 0px;
            .content-title{
                padding: 10px 0;
                text-align: center;
                color:var(--color-1);
            }
            .slides-container{
                position: relative;
                padding: 10px 25px 15px 25px;
                ion-slides{
                    ion-slide {
                        width: 20%!important;
                        border: 2px solid var(--color-3);
                        height: 90px;
                        display: block;
                        border-radius: 5px;
                        p{
                            width: 100%;
                            &.top{
                                margin: 10px 0 0 0;
                            }
                            &.bottom{
                                margin: 0px 0 10px 0;
                            }
                        }
                        h2{
                            width: 100%;
                            font-size: 20px;
                            font-weight: 600;
                            color:var(--color-2);
                        }
                    }
                }
                .swiper-button-prev1{
                    left: -13px;
                    top: 30px;
                    position: absolute;
                    color: var(--color-1);
                }
                .swiper-button-next1{
                    right: -13px;
                    top: 30px;
                    position: absolute;
                    color: var(--color-1);
                }
            }
        }
    }
    .view-more{
        margin-top: 15px;
        ion-button{
            text-transform: capitalize;
        }
    }
}
