<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      More
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item class="ion-activatable" lines="full" (click)="navigateTo('resources')">
    <ion-icon slot="start" name="cube-outline"></ion-icon>
    <ion-label>
      <h2>Resources</h2>
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
  <ion-item class="ion-activatable" lines="full" (click)="navigateTo('certificate')">
    <ion-icon slot="start" name="school-outline"></ion-icon>
    <ion-label>
      <h2>Certificate</h2>
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
</ion-list>
</ion-content>
