<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
     Test Paused
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="pause-section">
    <ion-icon name="stopwatch-outline"  class="timeIcon"></ion-icon>
    <h2 class="timeDigital">01:58:13</h2>
    <h2 class="timeText">Time remaining of 3hrs</h2>
    <ion-button fill="outline" shape="round" class="pause-button"> <ion-icon name="pause-outline"></ion-icon> Test Paused</ion-button>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="primary-footer-blocks">
    <div class="score-block">
      <h2>150</h2>
      <p>Questions</p>
    </div>
    <div class="score-block">
      <h2>64</h2>
      <p>Answered</p>
    </div>
    <div class="score-block">
      <h2>0</h2>
      <p>Skipped</p>
    </div>
  </ion-toolbar>
  <ion-toolbar class="primary-footer-buttons">
      <ion-button expand="full">
        Resume Test
      </ion-button>
  </ion-toolbar>

</ion-footer>
