.pause-section{
    text-align: center;
    padding: 50px 10px;
    .timeIcon{
        font-size: 50px;
    }
    h2{
        font-size: 20px;
        font-weight: 600;
        color: var(--color-2);
        &.timeDigital{
            margin-top: 0;
        }
        &.timeText{
            margin-top: 10px;
            margin-bottom: 25px;
        }
    }
    .pause-button{
        color: var(--color-2);
        --border-color:var(--color-3);
        font-weight: 600;
        ion-icon{
            background-color: var(--color-7);
            color: var(--color-5);
            border-radius: 50%;
            margin-right: 7px;
            font-size: 12px;
            padding: 3px;
        }
    }
}
.primary-footer-buttons{
    --min-height: 40px;
    ion-button{
        height: 40px;
        margin-bottom: 3px;
    }
}
.primary-footer-blocks{
    --min-height: 70px;
    .score-block{
        width: 33.33%;
        height: 70px;
        text-align: center;
        margin: 0;
        float: left;
        --background: var(--color-2);
        h2{
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: 600;
        }
        p{
            font-size: 14px;
            color: var(--color-1);
            margin: 0;
        }
    }
}