<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="account-outer-section">

<ion-list class="account-inner-section"  lines="full">
  <ion-item (click)="navigateTo()">
    <ion-icon class="account-icon-start" name="notifications-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Notifications</h2></ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon class="account-icon-start" name="mail-unread-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Enable Notifications</h2></ion-label>
    <ion-toggle color="primary" slot="end" checked mode="md"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon class="account-icon-start" name="volume-low-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Play audio in background</h2><p>Only for course videos</p></ion-label>
    <ion-toggle color="primary" slot="end" mode="md"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon class="account-icon-start" name="wifi-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Downloaded over Wi-Fi only</h2></ion-label>
    <ion-toggle color="primary" slot="end" checked mode="md"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon class="account-icon-start" name="trash-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Clear downloaded data</h2><p>0 Mb</p></ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-list>

<ion-list class="account-inner-section"  lines="full">
  <ion-item>
    <ion-icon class="account-icon-start" name="star-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Rate App</h2></ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon class="account-icon-start" name="share-social-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Share Simplilearn app</h2></ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon class="account-icon-start" name="nuclear-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Help & Support</h2></ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon class="account-icon-start" name="shield-checkmark-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Privacy Policy</h2></ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon class="account-icon-start" name="log-out-outline" slot="start"></ion-icon>
    <ion-label class="account-label"><h2>Logout</h2></ion-label>
  </ion-item>
</ion-list>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
