.account-outer-section{
    --background: var(--color-4);
    .account-inner-section{
        --background: var(--color-5);
        padding: 0;
        margin: 10px 0;
        ion-item{
            --min-height:56px;
            .account-icon-start{
                color: var(--color-1);
                margin-right: 22px;
                font-size: 20px;
            }
            .account-label{
                margin: 0;
            h2{
                font-size: 16px;
            }
            p{
                color: var(--color-1);
            }
            }
        }
    }
}