<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-outer-section">

  <div class="notifications-inner-section">
    <img src="../assets/no-notification.png" alt="no-notification" />
    <h2>No New Notifications</h2>
    <p>Check this section for updates and general notifications.</p>
  </div>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
