.notifications-outer-section{
    --background: var(--color-5);
    .notifications-inner-section{
            text-align: center;
            margin: 50px 0;
            img{
                width: 80px;
                height: 80px;
                object-fit: cover;
                object-position: center;
            }
            h2{
                font-size: 18px;
                font-weight: 700;
            }
            p{
                font-size: 16px;
                color: var(--color-1);
            }

    }
}