<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="topCourses-outer-section">

<!-- List of Text Items -->

<ion-list class="topCourses-inner-section ion-padding">
  <ion-list-header class="topCourses-header" mode="md">
    Top Courses
  </ion-list-header>

  <ion-item class="topCourses-item" *ngFor="let topCourse of topCourses" lines="none">
    <ion-avatar slot="start" class="topCourse-image">
      <img [src]="topCourse.imageUrl">
    </ion-avatar>
    <ion-label class="topCourse-label">
      <h3>{{topCourse.course}}</h3>
      <h2 class="ion-text-wrap">{{topCourse.title}}</h2>
      <star-rating [starType]="'svg'" [rating]="topCourse.rating" staticColor="ok" [showHalfStars]="true"  [readOnly]="true" labelPosition="left" [labelText]="topCourse.rating"></star-rating>
      <div class="topCourse-footer">
        <span class="topCourse-learners">{{topCourse.learners}} learners</span>
        <div class="topCourse-price">
         <span class="topCourse-offer">Free</span>  <span class="topCourse-original-price">$399</span>
        </div>
      </div>
    </ion-label>

  </ion-item>
  <div class="view-more">
    <ion-button expand="full" fill="clear">See All Courses</ion-button>

  </div>
</ion-list>

</ion-content>
