// .rating.color-negative .star-container .star {
//     svg {
//       fill: #0f0    ;
//     }
//     i {
//       color: #0f0;
//     }
//   }
  
//   .rating.color-ok .star-container .star {
//     svg {
//       fill: #f00;
//     }
//     i {
//       color: #f00;
//     }
//   }
  
//   .rating.color-positive .star-container .star {
//     svg {
//       fill: #00f;
//     }
//     i {
//       color: #00f;
//     }
//   }
  
//   .rating.color-default .star-container .star {
//     svg {
//       fill: #ff0;
//     }
//     i {
//       color: #ff0;
//     }
//   }
.topCourses-outer-section{
    --background: var(--color-4);
.topCourses-inner-section{
    --background: var(--color-5);
    .topCourses-header{
        font-size: 20px;
        font-weight: 700;
    }
    .topCourses-item{
        border: 1.2px solid var(--color-4);
        --padding-start: 12px;
        padding-right: 0;
        margin-right: 0;
        border-radius: 5px;
        margin-bottom: 7px;
        box-shadow: 0 .175em .5em var(--color-4),0 .085em .175em var(--color-4);
    .topCourse-image{
        width: 70px;
        height: 70px;
        margin-top: 12px;
        margin-right: 12px;
        align-self: normal;
        img{
            border-radius: 5px;

        }
    }

    .topCourse-label{
      
        h3{
            color:var(--color-1);
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        h2{
            color:var(--color-2);
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
        }
        .rating{
            justify-content: left;
            margin-top: 5px;
            &.medium{
                .label-value{
                    font-size: 14px;
                    line-height: 14px;
                    color:var(--color-1);
                }
                .star-container{
                    .star{
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
        .topCourse-footer{
            .topCourse-learners{
                font-size: 14px;
                color:var(--color-1);
            }
            .topCourse-price{
                float: right;

                .topCourse-offer{
                    font-weight: 700;
                    text-decoration: unset;
                    color: var(--color-6);
                    text-transform: uppercase;
                    font-size: 14px;
                }
                .topCourse-original-price{
                    margin-left: 8px;
                    text-decoration: line-through;
                    color:var(--color-1);
                    font-size: 14px;

                }
            }
        }

    }
}
.view-more{
    margin-top: 15px;
    ion-button{
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0;
    }
}
}
}
