<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Assessment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="assessment-list">
    <ion-item class="ion-activatable" lines="full" *ngFor="let assessment of assessmentData" (click)="navigateTo()">
      <ion-label>
        <h2>{{assessment.title}}</h2>
        <p class="duration">Duration: {{assessment.duration}} hours  |  Attempt: {{assessment.attempted}}/{{assessment.totalAttempted}}</p>
        <ion-progress-bar value="0.5" color="warning"></ion-progress-bar>
        <p class="total">{{assessment.totalQuestions}} Questions</p>
        <ion-chip outline color="success">
          <ion-label>Passed</ion-label>
        </ion-chip>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
</ion-content>
