.assessment-list{
    ion-label{
        h2{
            color:var(--color-2);
            font-weight: 600;
            margin-bottom: 10px;
        }
        p{
            &.duration{
            color: var(--color-1);
            margin-bottom: 5px;
            }
            &.total{
            color: var(--color-1);
            margin: 15px 0 10px 0;
            }

        }
        ion-chip{
            margin: 0;
            padding: 0px 10px;
            height: 25px;
            border: 2px solid;
        }
    }
}